<div class="container">
    <form #mealForm="ngForm">
      <div class="first">
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" required class="form-control" id="name" placeholder="name" value="name" [(ngModel)]="newMeal.name" name="name" #name="ngModel" required>
                <label for="name">Your Name</label>
                <!-- Display{{newMeal.name}} -->
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  <p>Name is required</p>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                  <option selected>Open this select menu</option>
                  <option value="1">BreakFast</option>
                  <option value="2">Lunch</option>
                  <option value="3">Dinner/Supper</option>
                </select>
                <label for="floatingSelectGrid">Works with selects</label>
              </div>
            </div>
          </div>
    </div>
    <div class="second">          
          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Meal</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
          </div>
    </div>
    <div class="third">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Calories = 500+
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Calories = -500
            </label>
          </div>
    </div>
    <div class="fourth">
        <div class="form-group">
            <label for="complete">Date</label>
            <input type='date' id="complete" required>
  
        </div>
    </div>
    <div class="button">
        <button type="button" class="btn btn-primary btn-lg">Submit to the Tracker</button>

    </div>
    </form>
</div>
